body, td, select, textarea, input, span, div, p, li, a, label, pre {
    margin: 0;
    font-family: "ë‚˜ëˆ”ê³ ë”•","NanumGothic","NanumGothicOTF", Apple Gothic, "ë§‘ì€ê³ ë”•", "Malgun Gothic", dotum,"Arial", verdana, "Trebuchet MS", "Lucida Grande","HelveticaNeue", "Tahoma","Helvetica", "hiragino kaku gothic pro", sans-serif,"Apple Color Emoji","Segoe UI Emoji","NotoColorEmoji","Segoe UI Symbol","Android Emoji","EmojiSymbols";
    -webkit-text-size-adjust:none;
}

body {
    height: 100%;
    width: 100%;
    position: absolute;
}

a {
    text-decoration: none;
}

.wrap {
    background-color: black;
    position: relative;
    overflow: hidden;
    height: 100%;
    min-width: 500px;
    min-height: 700px;
}

.background {
    background-color: black;
    background-size: cover;
    -webkit-background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

.video-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media ( min-aspect-ratio : 16/9) {
    .video {
        height: 300%;
        top: -100%;
    }
    .video[data-useragent*='rv:11.0'] {
        width: 100%;
        height: auto;
        top: 0;
    }
}

@media ( max-aspect-ratio : 16/9) {
    .video {
        width: 300%;
        left: -100%;
    }
    .video[data-useragent*='rv:11.0'] {
        width: auto;
        height: 100%;
        left: 0;
    }
}

@supports ( object-fit: cover ) {
    .video {
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.fog {
    background-color: black;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    position: relative;
    /*z-index: 2;*/
}

.logo {
    position: absolute;
    top: 52%;
    width: 100%;
    height: 100%;
    margin-top: -330px;
    padding-top: 180px;
    background: url(assets/logo.png) no-repeat 50% 0;
    background-size: auto 440px;
    -webkit-background-size: auto auto;
    /*z-index: 5;*/
}

.slogan {
    position: absolute;
    text-align: center;
    color: #fff;
    font-family: "Damascus", serif;
    font-size: 24px;
    width: 100%;
    margin-top: 100px;
}

.contactText {
    position: absolute;
    text-align: center;
    color: #fff;
    font-size: 16px;
    width: 100%;
    margin-top: 370px;
}

.title {
    font-weight: bold;
    position: absolute;
    text-align: center;
    color: #fff;
    font-size: 40px;
    width: 100%;
    margin-top: 40px;
}

.download_wrap {
    position: absolute;
    top: 60%;
    width: 100%;
    height: 100%;
    text-align: center;
    /*z-index: 3;*/
}

.download {
    margin: 6px;
}

.download_img {
    height: 60px;
    border: 0;
}

.site_wrap {
    position: absolute;
    top: 85%;
    width: 100%;
    height: 100%;
    text-align: center;
    /*z-index: 3;*/
}

.site {
    margin: 8px;
}

.site_img {
    height: 34px;
    border: 0;
}

.snowcorp-copyright {
    font-family: "HelveticaNeue", "Helvetica", "Arial";
    position: absolute;
    top: 95.5%;
    /*z-index: 4;*/
    color: #fff;
    font-size: 14px;
    left: 1.2%;
}

.snowcorp-address {
    font-family: "Arial";
    position: absolute;
    top: 96.5%;
    /*z-index: 4;*/
    color: #fff;
    font-size: 12px;
    left: 1.2%;
    margin-top: 10px;
}

.snowcorp-contact {
    position: absolute;
    top: 1.2%;
    /*z-index: 4;*/
    color: #fff;
    font-size: 20px;
    right: 1.2%;
    text-decoration:none;
}

.snowcorp-contact a {
    font-family: "HelveticaNeue", "Helvetica", "Arial";
    text-decoration:none;
    color:#FFFFFF;
    margin-left: 20px;
    font-weight: bold;
}
